body { 
background-color:#181818; 
color: #F0F0F0;
padding:10px;
}

pre {
	font-family: Monaco, Sans-serif;
	font-size: 13px;
	white-space: pre-wrap; 
}

a.hdp:link { color: #000000; text-decoration: none; }
a.hdp:visited { color: #000000; text-decoration: none; }
a.hdp:hover { color: #000000; text-decoration: underline; }
